<div class="container">
  <form enctype="multipart/form-data" action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="cover">Cover Photo</label>
      <input type="file" accept=".jpg, .jpeg, .png" class="form-control" id="cover" name="cover">
      <input type="checkbox" id="rand_cover" name="rand_cover">Generate a Photo</input>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
